<div class="card" id="login-card">
    <h1 class="mb-4">Login</h1>
    <form id="login-form" class="login-form">
        <div class="mb-3">
            <label for="username_form" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username_form" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label for="password_form" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password_form" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-success" id="login_btn">Login</button>
    </form>
</div>

<script src="/js/login.js"></script>