<div class="card" id="new-post-card">
    <h3 class="card-header">Update Blog Post</h3>
    <form class="card-body edit-post-form" id="new-post-form">
        <label for="post-title-update" class="form-label">Title:</label>
        <input type="text" class="form-control" id="post-title-update" name="post-title" value="{{post.title}}" class="form-input" />

        <label class="form-label-update" for="post-content-update">Content:</label>
        <textarea id="post-content-update" class="form-control" name="content" class="form-input" rows="5">{{ post.content }}</textarea>
        <br>
        <button type="submit" id="update-post" class="btn btn-success">Update Post</button>
    </form>
</div>
