#signup-card, #login-card {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}

#new-post-card {
    margin: auto;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    